TURTLE_PEN_SIZE=10
TURTLE_SPEED=10000
TURTLE_SCREENSIZE_X=600
TURTLE_SCREENSIZE_Y=600
# The turtle window often has a border that can hide information behind it.
# On my device this border is 2 pixels, so I leave a 2 pixel buffer.
TURTLE_WINDOW_BUFFER=2

SHOW_ANIMATION=True
REFRESH_INTERVAL=150

GRID_WIDTH=2
GRID_HEIGHT=2