TURTLE_PEN_SIZE=50
TURTLE_SPEED=100
TURTLE_SCREENSIZE_X=500
TURTLE_SCREENSIZE_Y=500
# The turtle window often has a border that can hide information behind it.
# On my device this border is 2 pixels, so I leave a 2 pixel buffer.
TURTLE_WINDOW_BUFFER=2

SHOW_ANIMATION=True
REFRESH_INTERVAL=150

GRID_WIDTH=4
GRID_HEIGHT=3